---

import Layout from '../layout/Layout.astro';
import Card from '../components/Card.astro';

const response = await fetch("http://localhost:3000/peliculas");
const datos = await response.json();
const peliculasFiltradas = datos.filter(pelicula => pelicula.genre_ids.includes(28));




---
<Layout titulo="Inicio">
	<h3 class="text-center py-3">({peliculasFiltradas.length}) Peliculas de Accion</h3>
	<div class="row">
	{
		peliculasFiltradas.map((item)=>(
        	<Card  pelicula={item}/>	
		))
	}
	</div>
</Layout>
