---
import Layout from "../../layout/Layout.astro";
import Card from "../../components/Card.astro";

export async function getStaticPaths() {
  const response = await fetch("http://localhost:3000/generos");
  const datos = await response.json();
  return datos.map((item) => {
    return {
      params: { genero: item.id },
      props: { name: item.name },
    };
  });
}

const { genero } = Astro.params;
const id = parseInt(genero);
const { name } = Astro.props;
const response = await fetch("http://localhost:3000/peliculas");
const datos = await response.json();
const peliculasFiltradas = datos.filter((pelicula) =>
  pelicula.genre_ids.includes(id)
);

---

<Layout titulo="Inicio">
  <h3 class="text-center py-3">({peliculasFiltradas.length}) {name}</h3>
  <div class="row">
    {
      peliculasFiltradas.map((item) => (
        <Card  pelicula={item}/>	
      ))
    }
  </div>
</Layout>
